@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 5; 
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
} 

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 25px;
    position: relative;
}
.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%; 
    border-radius: 24px 24px 0 0;   
    background-color: #4070f4;
}

.image {
    position:  relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 10px;
    border: solid rgb(255, 255, 255)

}

.image .profile-img{
    height: 98%;
    width: 98%;
    object-fit: cover;
    border-radius: 50%;
    border: solid lavenderblush;
    

}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    
    
}

.text-data .name{
    font-size: 22px;
    font-weight: 100;
    
}
.text-data .job{
    font-size: 15px;
    font-weight: 900;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    
    
}
.media-buttons .link{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 20 20px;
    background-color: #4070f4;
    text-decoration: none;
    
}

.media-buttons .link:hover{
    background-color: #000;
    transform: rotate(360deg)
    scale(1.1);
}


.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    
}

.buttons .button{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: #0e4bf1;
    
}
.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 3px;
    border-right: 2px solid #00000013;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data :last-child{
    border-right: none;
}